{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": false,
          "targets": {
            "ie": "10"
          },
          "bugfixes": true
        }
      }
    ]
  ],
  "plugins": []
}
