.project_page_header
    min-height: calc(100% + 120px)
    height: 100%
    display: flex
    justify-content: center
    position: relative
    margin-top: -120px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    padding-bottom: 120px
    &>div
        position: relative
        margin-top: 120px
        display: flex
        justify-content: center
        align-items: center
    button
        margin-top: 40px
    &::after, &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
    &::after
        background: rgba(0,0,0, .52)
    &::before
        background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .8) 90%)

.project_info
    z-index: 30
    display: flex
    flex-direction: column
    align-items: center
    margin: 30px 0
    img
        max-width: 200px
        width: 100%
    .project_type
        position: relative
        text-align: center
        margin-top: 105px
        display: flex
        flex-direction: column
        align-items: center
        max-width: max-content
        width: 100%
        &::before
            content: ''
            position: absolute
            width: 2px
            height: 60px
            background: #fff
            top: -86px
            opacity: .85
        h3
            font-weight: 600
            font-size: 25px
            text-transform: uppercase
            margin-bottom: 15px
        p
            font-size: 20px
            font-weight: 100
            color: #EDEDED

.project_data
    .project_data_inner
        display: flex
        flex-direction: column
        grid-gap: 50px
    h3
        margin-bottom: 15px
        font-size: 40px
    .about p
        font-size: 20px
    .tasks ul li
        font-size: 20px
        line-height: 120%
        color: #DBDBDB
    .results
        h3
            margin-bottom: 15px
        ul
            display: flex
            flex-direction: column
            grid-gap: 10px
        li a
            font-size: 20px
            display: flex
            align-items: center
            max-width: max-content
            word-break: break-all
            &:hover
                color: #faaa4c
            &::before
                content: ''
                background: #DBDBDB
                width: 65px
                height: 2px
                margin-right: 20px

.project_reference
    h1
        margin-bottom: 40px
        font-size: 30px
        font-weight: 500
        text-transform: capitalize
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        color: rgba(250,169,76,1)
        // background: -webkit-linear-gradient(rgba(250,76,108,1), rgba(250,169,76,1) 100%)
        // -webkit-background-clip: text
        // -webkit-text-fill-color: transparent
        &::before, &::after
            content: ''
            width: 80px
            height: 1px
            background: rgb(250,76,108)
            background: linear-gradient(90deg, rgba(250,76,108,1) 0%, rgba(250,169,76,1) 100%)
        &::before
            margin-right: 25px
        &::after
            margin-left: 25px

.cta_section
    background: url('../../images/cta_section_bg.webp') no-repeat center / cover
    .cta_section_offer
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        p
            margin-bottom: 45px
            font-size: 20px
            max-width: 460px

.projects_section
    .projects_desk_and_arrows
        display: flex
        justify-content: space-between
        align-items: center
        p
            letter-spacing: -0.01em
            font-size: 20px
            max-width: 465px
        .arrows
            display: flex
            .team_back_arrow
                margin-right: 55px
            button
                font-size: 14px
                text-transform: uppercase
                color: #fff
                display: flex
                align-items: center
                flex-direction: column
                &:hover
                    color: #DD4242
                img
                    padding-top: 6px

.projects_slider
    margin-top: 45px

@media only screen and (max-width: 1200px)
    .project_info
        img
            max-width: 150px
        p
            font-size: 18px !important

    .project_data
        .project_data_inner
            grid-gap: 40px
        h3
            font-size: 35px
            margin-bottom: 10px !important
        .about p, .tasks li
            font-size: 18px !important

    .project_reference h1
        font-size: 25px

@media only screen and (max-width: 992px)
    .project_type h3
        margin-bottom: 5px !important

    .project_info
        img
            max-width: 150px !important
        p
            font-size: 18px !important

    .project_data
        .project_data_inner
            grid-gap: 30px
        h3
            font-size: 30px
        .results li a
            font-size: 18px !important

    .project_reference h1
        font-size: 20px
        margin-bottom: 30px

    .cta_section p
        font-size: 18px !important
        margin-bottom: 20px!important

    .projects_desk_and_arrows p
        font-size: 18px !important

@media only screen and (min-width: 768px)
    .arrows.disabled
        button
            pointer-events: none !important
            opacity: 0.3 !important

@media only screen and (max-width: 768px)
    .project_data
        .about p, .tasks li
            font-size: 16px !important

    .project_data .results li a
        font-size: 16px !important

    .project_info
        img
            max-width: 220px
        p
            font-size: 16px !important

    .project_data h3
        font-size: 25px
        &::before, &::after
            width: 50px

    .project_reference h1
        margin-bottom: 20px
    .cta_section p
        font-size: 16px !important

    .projects_desk_and_arrows
        align-items: flex-start !important
        flex-direction: column
        grid-gap: 40px
        .arrows
            width: 100%
            justify-content: space-between
            button
                margin: 0 !important

    .projects_slider
        margin-top: 20px

    .projects_desk_and_arrows p
        font-size: 16px !important
        max-width: 325px !important

@media only screen and (max-width: 576px)
    .project_info
        img
            max-width: 120px !important
        .project_type
            margin-top: 110px
            &::before
                top: -85px
                height: 60px
            h3
                font-size: 20px

    .project_reference
        h1
            font-size: 16px
            &::before, &::after
                width: 40px !important

    .arrows
        display: none !important

    .project_type
        margin-top: 20px !important
        &:before
            display: none

@media only screen and (max-height: 750px)
    .project_type
        margin-top: 20px !important
        &:before
            display: none
    .project_page_header button
        margin-top: 20px

@media only screen and (max-height: 550px)
    .project_info > img
        display: none
    .project_info p
        font-size: 16px !important
    .project_page_header
        padding-bottom: 70px
