.service_header {
  min-height: calc(100% + 120px);
  height: 100%;
  margin-top: -120px;
  padding-bottom: 120px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  & > div {
    padding-top: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .offer_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    text-align: center;
    .logo_wrap {
      width: 85px;
      height: 85px;
      border-radius: 50px;
      background: rgba(0, 0, 0, 0.35);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 40px;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 30px;
      margin-top: 25px;
      text-transform: capitalize;
      letter-spacing: -0.01em;
    }
    p {
      font-size: 20px;
      letter-spacing: -0.01em;
      color: #ededed;
      font-weight: 300;
      margin: 15px 0 40px;
    }
  }
  &::before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46%, #000000 107.76%),
      rgba(0, 0, 0, 0.3);
  }
}
.service_item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  span {
    font-weight: 300;
    font-size: 30px;
    background: -webkit-linear-gradient(
      rgba(250, 76, 108, 1),
      rgba(250, 169, 76, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.05em;
  }
  h4 {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.005em;
    line-height: 96.5%;
    font-weight: 500;
  }
  p {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #dbdbdb;
  }
}

.content {
  background-repeat: no-repeat;
  background-size: 62%;
  background-position: right center;
}
.content_title_wrap {
  display: flex;
  align-items: center;
  grid-gap: 20px 40px;
  justify-content: space-between;
}
.content_text {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  font-size: 20px;
  max-width: 600px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #dbdbdb;
}

.servies_accordion {
  display: none;
}

.services_items_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px 15px;
  justify-content: space-between;
  justify-items: center;
}

.advantages_wrap {
  overflow: hidden;
}

.projects_section {
  position: relative;
}

.form_section {
  background: url('../../images/service_bg.webp') no-repeat left top / cover;
  overflow: hidden;
}

.form_section_wrap {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .offer_wrap {
    h3 {
      font-size: 25px !important;
    }
    p {
      font-size: 18px !important;
    }
  }
  .services_items_wrap {
    grid-gap: 50px 15px;
  }
  .service_item {
    grid-gap: 10px;
    span {
      font-size: 25px;
    }
    h4 {
      font-size: 20px;
    }
  }
  .content_text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 992px) {
  .form_section_wrap {
    grid-template-columns: 1fr;
    padding-bottom: 15px;
  }
  .offer_wrap p {
    margin-top: 5px !important;
  }
  .service_item {
    grid-gap: 10px;
    h4 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .offer_wrap {
    p {
      font-size: 16px !important;
      margin-bottom: 20px !important;
    }
    h3 {
      margin-top: 20px !important;
      font-size: 20px !important;
    }
  }
  .services_items_wrap {
    grid-gap: 40px 15px;
  }
  .services_items_wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .service_item p {
    font-size: 16px;
  }
  .content_text {
    font-size: 16px;
  }
  .content {
    background-size: contain;
  }
  .content_title_wrap {
    flex-direction: column;
    grid-gap: 0;
    align-items: end;
  }
  .write_link {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .content {
    background-position: center top;
  }
  .services_items_wrap {
    display: none;
  }
  .servies_accordion {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    .panel {
      line-height: 120%;
      color: #e7e7e7;
      font-weight: 300;
      padding: 15px 0;
      font-size: 16px;
    }
    .service_item_acc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 20px;
      cursor: pointer;
      padding: 15px 0;
      border-bottom: 2px solid #9a9a9a;
      transition: all 0.3s ease;
      span {
        background: -webkit-linear-gradient(
          rgba(250, 76, 108, 1),
          rgba(250, 169, 76, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: -0.05em;
        font-weight: 300;
        font-size: 25px;
      }
      h4 {
        margin-right: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
      }
      img {
        max-width: 20px;
        transition: all 0.3s ease;
      }
      &.opened {
        border-color: rgba(231, 231, 231, 0.19);
        img {
          transform: rotateX(180deg);
        }
      }
    }
  }
}

@media only screen and (max-height: 750px) {
  .service_header h3 {
    margin-top: 20px !important;
    font-size: 20px !important;
  }
  .offer_wrap p {
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-height: 550px) {
  .service_header p {
    font-size: 16px !important;
  }
  .logo_wrap {
    display: none !important;
  }
  .service_header {
    padding-bottom: 70px;
  }
}
