.main_header {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  position: relative;
}
.main_header:after,
.our_services::after,
.our_cases::after,
.form_section::after,
.we_are_pro::after,
.home_footer::after {
  position: absolute;
  color: #fff;
  opacity: 0.2;
  font-weight: 700;
  font-size: 60px;
  right: 90px;
  bottom: 75px;
  z-index: 20;
}
.main_header:after {
  content: '01.';
}
.our_services::after {
  content: '02.';
}
.our_cases::after {
  content: '03.';
  top: 75px;
  bottom: initial;
}
.form_section::after {
  content: '04.';
}
.we_are_pro::after {
  content: '05.';
  top: 75px;
  bottom: initial;
}
.home_footer::after {
  content: '06.';
  top: 75px;
  bottom: initial;
}
.main_offer {
  color: #fff;
  margin: 40px 0 120px;
}
.main_offer > h1 {
  font-size: 55px;
  max-width: 630px;
  width: 100%;
  line-height: 110%;
  display: flex;
  align-items: flex-end;
  margin-top: 18px;
}
.main_offer > p {
  letter-spacing: -0.01em;
  font-size: 20px;
  max-width: 540px;
  width: 100%;
  margin-top: 27px;
}
.about_us_video {
  margin-top: 65px;
  display: flex;
  align-items: center;
}
.about_us_video button {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-left: 5px;
  z-index: 300;
}
.about_us_video button > span {
  display: flex;
  align-items: center;
}
.about_us_video button svg {
  color: #fff;
  font-size: 24px;
}
.about_us_text {
  margin-left: 35px;
}
.about_us_text span {
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
}
.about_us_text span::after {
  content: '';
  width: 140px;
  height: 1px;
  background: #fff;
  display: block;
  margin: 11px 0 5px;
}
.about_us_text p {
  font-size: 15px;
  color: #dd4242;
}
.lang_toggler_mobile {
  max-width: max-content;
  position: absolute;
  left: 15px;
  bottom: 38px;
  display: none;
}
.lang_toggler_mobile select {
  color: #fff;
  font-weight: 600;
}
.our_services {
  padding: 86px 0 167px;
  position: relative;
}
.our_services::before {
  content: '';
  left: -145px;
  top: 0;
  width: calc(100% + 145px);
  height: 100%;
  position: absolute;
  background: url('../images/our_services_bg.png') no-repeat center / cover;
  z-index: -1;
  height: 100vh;
}
.our_services .h2 {
  font-size: 53px;
  margin-top: 15px;
}
.services_items_wrap {
  margin-top: 92px;
}
.services_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 27px;
}
.service_element {
  padding: 30px 27px 40px;
  background: linear-gradient(#1e212a, #010101);
  border-radius: 20px;
  z-index: 20;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}
.service_element:hover .icon_wrap {
  background: #fff;
}
.service_element h3 {
  font-weight: 800;
  font-size: 20px;
  margin: 20px 0 25px;
  text-align: center;
  max-width: 165px;
  text-align: center;
}
.service_element p {
  line-height: 220%;
  text-align: center;
  white-space: pre-line;
}
.icon_wrap {
  width: 85px;
  height: 85px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.our_cases {
  padding: 38px 0 195px;
  background: #000 url('../images/cases_bg.svg') no-repeat center top / cover;
  position: relative;
}
.our_cases::before {
  content: url('../images/cases_item_bg.svg');
  position: absolute;
  right: 0;
  bottom: -60px;
  z-index: 30;
}
.our_cases_wrap .h2 {
  font-size: 53px;
  margin-top: 15px;
}
.cases_tags {
  margin: 50px 0;
  margin-left: -30px;
  margin-right: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cases_tags button {
  cursor: pointer;
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s ease;
  position: relative;
  margin: 10px 30px;
  padding-bottom: 10px;
}
.cases_tags button:hover,
.cases_tags button.checked {
  color: #dd4242;
}
.cases_tags button:hover::after,
.cases_tags button.checked::after {
  background: #dd4242;
}
.cases_tags button::after {
  height: 1px;
  content: '';
  position: absolute;
  width: 100%;
  background: #e7e7e7;
  transition: all 0.3s ease;
  bottom: 0;
  left: 0;
}
.our_cases_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px 12px;
}
.project_case {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 20px;
  z-index: 5;
  height: 330px;
  overflow: hidden;
  position: relative;
  padding: 30px 50px 50px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  justify-content: space-between;
}
.project_case:hover {
  background-size: 103%;
}
.project_case::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    linear-gradient(
      71.35deg,
      rgba(250, 68, 110, 0.8) 40.22%,
      rgba(250, 190, 68, 0.8) 100%
    );
}
.project_case:hover::before {
  opacity: 0.6;
}
.project_case * {
  position: relative;
  z-index: 15;
}
.project_case_wrap {
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scale(1.03);
}
.project_case:hover .project_case_wrap {
  opacity: 1;
  transform: initial;
}
.project_title {
  margin: 30px 0px;
}
.project_duration {
  display: flex;
  align-items: center;
}
.project_duration p {
  font-size: 15px;
  font-weight: 700;
  margin-right: 7px;
}
.project_duration span {
  font-size: 15px;
}
.project_duration span::first-letter {
  font-size: 20px;
}
.project_title h4 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.project_title p {
  font-weight: 600;
}
.project_link,
.about_us_link {
  color: #dd4242;
  font-size: 16px;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 7px;
}
.project_link::after,
.project_link::before,
.about_us_link::after,
.about_us_link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}
.project_link::after,
.about_us_link::after {
  background: #dadada80;
  z-index: 11;
  height: 1px;
  width: 100%;
}
.project_link::before,
.about_us_link::before {
  background: #dd4242;
  z-index: 12;
  width: 80px;
  height: 2px;
  transition: all 1s ease;
}
.project_case:hover .project_link::before,
.about_us_link:hover::before {
  width: 100%;
}
.project_link svg,
.about_us_link svg {
  margin-left: 5px;
  transform: scaleY(0.65);
}
.more_projects_btn {
  border-radius: 30px;
  width: 270px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 45;
  margin: 56px auto 0;
  background: linear-gradient(262deg, #faaa4c 0%, #fa4c6c 100%);
}
.more_projects_btn::after {
  content: '';
  position: absolute;
  background: #000;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 27px;
  transition: all 0.3s ease;
}
.more_projects_btn:hover::after {
  opacity: 0;
}
.more_projects_btn span {
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(262deg, #faaa4c 0%, #fa4c6c 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  transition: all 0.3s ease;
  z-index: 15;
}
.form_section {
  background: #000;
  position: relative;
}
.form_section_wrap,
.we_are_pro_wrap {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.form_section_wrap {
  align-items: center;
}
.globe_wrap {
  justify-self: end;
}
.globe_wrap img {
  width: 100%;
  max-width: 530px;
}
.form {
  padding: 60px 0 130px 80px;
  background: #191c26;
  border-radius: 40px 0 0 0;
  position: relative;
}
.form *,
.we_are_pro_content * {
  z-index: 15;
  position: relative;
}
.form::after {
  content: '';
  position: absolute;
  background: #191c26;
  height: 100%;
  z-index: 5;
  left: 0;
  border-radius: 40px 0 0 0;
  width: 55vw;
  top: 0;
}
.form_section .h2 {
  font-size: 53px;
  max-width: 370px;
  margin: 15px 0 18px;
  max-width: 370px;
  width: 100%;
  text-align: left;
}
.form_section .form > p {
  font-size: 15px;
  max-width: 400px;
  letter-spacing: -0.01em;
}
.form_items {
  max-width: 370px;
  margin-top: 55px;
}
.form_items input {
  margin-bottom: 30px;
}
.form_items input:last-child {
  margin-bottom: 0 !important;
}
.form_items button {
  margin-top: 30px;
}
.form_items button::before {
  background: #191c26;
}
.form_items button span {
  right: -5px;
}
.form_items button svg {
  transform: scaleY(0.65);
}
.more_projects_btn:hover span {
  filter: brightness(0) invert(1);
}
.we_are_pro {
  position: relative;
  background: #000 url('../images/our_workflow.png') no-repeat calc(50% + 520px);
}
.we_are_pro_content {
  background: #12151f;
  border-radius: 0 0 40px 0;
  padding: 180px 30px 150px 0;
  position: relative;
}
.we_are_pro_content::after {
  content: '';
  position: absolute;
  background: #191c26;
  height: 100%;
  z-index: 5;
  right: 0;
  border-radius: 0 0 40px 0;
  width: 50vw;
  top: 0;
}
.we_are_pro_content .h2 {
  font-size: 53px;
  margin: 14px 0 26px;
}
.we_are_pro_content span {
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #fff;
}
.we_are_pro_content p {
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #e4e4e4;
  margin-top: 30px;
}
.about_us_link {
  letter-spacing: -0.025em;
  font-size: 14px;
  margin-top: 37px;
}
.workflow {
  padding: 125px 0 100px 100px;
}
.workflow .h2 {
  font-weight: 800;
  font-size: 60px;
  letter-spacing: -0.025em;
  color: #2b2c31;
}
.workflow_items {
  margin: 35px 0 0 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 70px;
}
.workflow_element {
  display: grid;
  grid-template-columns: 79px auto;
  grid-gap: 17px;
  align-items: center;
  position: relative;
}
.workflow_element::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 1px;
  background: #be76d7;
  left: 40px;
  bottom: -70px;
}
.workflow_element:last-child::after {
  display: none;
}
.workflow_element > span {
  font-size: 45px;
  position: relative;
  z-index: 15;
}
.workflow_element > span::after {
  position: absolute;
  content: '';
  width: 63px;
  height: 63px;
  background: linear-gradient(
    113.96deg,
    rgba(250, 76, 108, 0.9) 12.33%,
    rgba(250, 170, 76, 0.9) 107.08%
  );
  border-radius: 50px;
  z-index: -1;
  left: 10px;
  top: 10px;
}
.workflow_text {
  position: relative;
}
.workflow_text p {
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  margin-top: 10px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.workflow_text p.visible {
  opacity: 1;
  visibility: visible;
}
.workflow_text h3 {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: max-content;
}
.workflow_text h3:hover,
.workflow_text h3.opened {
  color: #be76d7;
}
.home_footer {
  padding: 106px 0 87px;
  background: url('../images/footer_bg.png') no-repeat center / cover;
  position: relative;
}
.contacts_block {
  margin-bottom: 105px;
  margin-left: auto;
  max-width: 520px;
  width: 100%;
}
.contacts_block_credentials_wrap {
  max-width: 460px;
}
.contacts_block_credentials {
  margin: 26px 0 36px;
  color: #fff;
}
.contacts_block_credentials li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.contacts_block_credentials li:last-child {
  margin-bottom: 0;
}
.contacts_block_credentials li span {
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 30px;
  margin-right: 35px;
  min-width: 145px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.contacts_block_credentials li a {
  font-size: 24px;
  margin-top: 6px;
}
.mails_links {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
}
.mails_links a {
  margin-top: 0 !important; 
}
.contacts_block_credentials li a:hover {
  color: #faaa4c;
}
.footer_links {
  display: flex;
  align-items: center;
}
.footer_links > span {
  color: #555657;
  letter-spacing: -0.025em;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.footer_links > span svg {
  margin-left: 10px;
}
.footer_links_elements {
  display: flex;
  align-items: center;
}
.footer_links_elements li {
  margin-right: 25px;
}
.footer_links_elements li a {
  display: flex;
}
.footer_links_elements li:last-child {
  margin-right: 0;
}
.footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.footer_nav::before {
  content: '';
  position: relative;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(90deg, #fa4c6c 0%, #faaa4c 100%);
  margin-bottom: 25px;
}
.footer_nav ul {
  display: flex;
  align-items: center;
  margin: 0 40px;
}
.footer_nav ul li {
  margin-right: 40px;
}
.footer_nav ul li:last-child {
  margin-right: 0;
}
.footer_nav ul li a {
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #faa94c;
  position: relative;
}
.footer_nav ul li a::after {
  height: 2px;
  content: '';
  bottom: 0;
  left: 50%;
  margin-bottom: -5px;
  position: absolute;
  width: 0;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #fa446e 4%, #fabe44 100%);
}
.footer_nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

.footer_nav p {
  font-size: 15px;
  letter-spacing: -0.01em;
}

.cases_slider_wrap,
.services_slider_wrap {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .main_offer > h1 {
    font-size: 50px;
  }
  .about_us_video {
    margin-left: 20px;
  }
  .h2 {
    font-size: 40px !important;
  }
  .main_header:after,
  .our_services::after,
  .our_cases::after,
  .form_section::after,
  .we_are_pro::after,
  .home_footer::after {
    font-size: 50px;
    opacity: 0.15;
  }
  .cases_tags button {
    font-size: 16px;
  }
  .workflow_items {
    margin-left: 0;
  }
  .more_projects_btn span {
    font-size: 20px;
  }
  .more_projects_btn {
    width: 250px;
    height: 65px;
  }
  .we_are_pro::after {
    top: initial;
    bottom: 75px;
  }
  .project_case {
    z-index: 50;
  }
  .our_cases_items {
    grid-template-rows: auto;
  }
}
@media only screen and (max-width: 992px) {
  .main_offer > h1 {
    font-size: 40px;
  }
  .services_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .project_case {
    background-size: cover;
  }
  .form_section_wrap {
    grid-template-columns: 1fr;
  }
  .globe_wrap {
    order: 1;
    justify-self: center;
    margin: 30px 0;
  }
  .globe_wrap img {
    max-width: 400px;
  }
  .form {
    overflow: hidden;
    border-radius: 30px;
    padding: 60px 15px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form_section .form > p {
    max-width: 370px;
  }
  .form > span {
    max-width: 370px;
  }
  .form::after {
    display: none;
  }
  .h2 {
    font-size: 35px !important;
  }
  .we_are_pro_content {
    border-radius: 0 30px 30px 0;
  }
  .we_are_pro_content::after {
    border-radius: 0 30px 30px 0;
  }
  .workflow {
    padding-left: 40px;
  }
  .footer_nav {
    justify-content: center;
  }
  .footer_nav ul li {
    margin-right: 30px;
  }
  .footer_nav ul {
    margin: 0 60px;
  }
  .footer_links > span {
    color: #777879;
  }
  .our_services::before {
    width: 100%;
    left: initial;
  }
  .we_are_pro_wrap {
    grid-template-columns: 1fr 1fr;
  }
  .we_are_pro_content {
    border-radius: 30px;
    padding-left: 15px;
    background: #191c26;
  }
  .we_are_pro_content::after {
    display: none;
  }
  .workflow_text h3 {
    font-size: 22px;
  }
  .contacts_block_credentials li span {
    font-size: 22px;
    min-width: 110px;
  }
  .contacts_block_credentials li p,
  .contacts_block_credentials li a {
    margin-top: 4px;
    font-size: 18px;
  }
  .contacts_block_credentials_wrap {
    max-width: 380px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 768px) {
  .h2 {
    font-size: 25px !important;
  }
  .project_case {
    padding-left: 25px;
    padding-right: 25px;
  }
  .project_title h4 {
    font-size: 18px;
  }
  .more_projects_btn {
    width: 240px;
    height: 60px;
  }
  .more_projects_btn span {
    font-size: 18px;
  }
  .we_are_pro_wrap {
    grid-template-columns: 1fr;
  }
  .we_are_pro_content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer_nav ul {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .project_case:hover {
    background-size: cover;
  }
}
@media only screen and (max-width: 576px) {
  .main_offer > h1 {
    font-size: 25px;
  }
  .main_offer > p {
    font-size: 12px;
    margin-top: 15px;
  }
  .about_us_video button {
    width: 44px;
    height: 44px;
  }
  .about_us_text {
    margin-left: 25px;
  }
  .main_header:after,
  .our_services::after,
  .our_cases::after,
  .form_section::after,
  .we_are_pro::after,
  .home_footer::after {
    right: 30px;
    font-size: 30px;
    bottom: 30px;
  }

  .our_services::after,
  .we_are_pro::after,
  .home_footer::after {
    right: 30px;
    bottom: initial;
    top: 30px;
    font-size: 30px;
  }
  .main_offer > span::before {
    width: 30px;
  }
  .lang_toggler_mobile {
    display: block;
  }
  .h2 {
    font-size: 20px !important;
  }
  .our_services .h2,
  .our_cases_wrap .h2 {
    margin-top: 5px;
  }
  .services_items_wrap {
    margin-top: 60px;
  }
  .services_items {
    grid-template-columns: 1fr;
  }
  .our_services {
    padding: 80px 0 20px;
  }
  .service_element h3 {
    font-size: 17px;
  }
  .cases_tags button {
    font-size: 12px;
    margin: 5px 10px;
  }
  .cases_tags {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 30;
  }
  .our_cases_items {
    grid-template-columns: 1fr;
  }
  .form,
  .we_are_pro_content {
    padding-bottom: 80px;
    padding-top: 80px;
    border-radius: 20px;
  }
  .form span {
    margin-right: auto;
  }
  .form_section .h2 {
    margin-top: 5px;
  }
  .form_items {
    margin-top: 40px;
  }
  .form_items input {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .we_are_pro_content .h2 {
    margin-top: 5px;
    margin-bottom: 18px;
  }
  .we_are_pro_content span {
    font-size: 16px;
  }
  .form_section .form > p,
  .we_are_pro_content p {
    opacity: 0.9;
    font-size: 14px;
  }
  .we_are_pro_content p {
    margin-top: 18px;
  }
  .workflow {
    padding: 80px 0;
  }
  .workflow_text h3 {
    font-size: 20px;
  }
  .workflow_text p {
    font-size: 14px;
    background: #00000080;
  }
  .workflow_items {
    grid-gap: 100px;
  }
  .workflow_element::after {
    height: 40px;
    bottom: -90px;
  }
  .contacts_block_credentials li {
    flex-direction: column;
  }
  .contacts_block_credentials li span {
    font-size: 20px;
    min-width: max-content;
    margin-right: initial;
  }
  .contacts_block_credentials li p,
  .contacts_block_credentials li a {
    margin-top: 5px;
    font-size: 16px;
  }
  .footer_links {
    flex-direction: column;
  }
  .footer_links span {
    margin-right: auto;
  }
  .footer_links_elements {
    margin-top: 10px;
  }
  .contacts_block {
    margin-bottom: 80px;
  }
  .home_footer {
    padding: 80px 0;
  }
  .footer_nav ul {
    flex-wrap: wrap;
    margin: 20px 20px 40px;
    justify-content: space-between;
  }
  .footer_nav ul li {
    margin: 10px !important;
  }
  .cases_slider_wrap,
  .services_slider_wrap {
    display: block;
    position: relative;
    z-index: 40;
  }
  .our_cases_items,
  .services_items {
    display: none;
  }
  .workflow_text h3 {
    line-height: 100%;
  }
  .workflow_element > span {
    font-size: 35px;
  }
}
