.not_found_header {
  height: 100%;
  position: relative;
}
.not_found_header > div {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.not_found_header * {
  z-index: 40;
  position: relative;
}
.not_found_header::after {
  content: '';
  background: url('../images/404_bg.jpg') no-repeat center / cover;
  position: fixed;
  left: 0;
  top: -120px;
  height: calc(100% + 120px);
  width: 100%;
  z-index: 20;
}
.main_offer {
  margin: 60px 0 180px;
  align-self: center;
  z-index: 50;
}
.main_offer h1 {
  color: #faaa4c;
  font-size: 18em;
  font-weight: 600;
}
.main_offer p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 35px;
}
.not_found_span {
  color: #cecece;
  margin: 15px 0 40px;
  font-size: 20px;
  display: block;
  font-weight: 300;
}
.cow_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -120px;
  right: 85px;
  align-self: flex-start;
}
.cow_block img {
  max-width: 100%;
}
.cow_element {
  position: absolute;
  margin-top: 300px;
  animation: levitation 1s alternate ease-in-out infinite;
}
.to_homepage {
  display: flex;
  align-items: center;
  height: 45px;
  max-width: max-content;
}
.to_homepage span {
  display: inline;
}

@keyframes levitation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 2em);
  }
}

@media only screen and (max-width: 1200px) {
  .cow_block {
    opacity: 0.6;
    position: absolute;
    right: 15px;
    top: -180px;
  }
  .main_offer h1 {
    font-size: 12em;
  }
  .main_offer p {
    font-size: 25px;
  }
  .not_found_span {
    font-size: 16px;
  }
  .cow_element {
    margin-top: 200px;
  }
  .main_offer {
    margin: 60px 0 120px;
  }
}

@media only screen and (max-width: 992px) {
  .cow_block {
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .main_offer h1 {
    font-size: 8em;
  }
  .main_offer p {
    font-size: 20px;
  }
  .not_found_span {
    margin-top: 5px;
  }
  /* .to_homepage {
  } */
}
@media only screen and (max-width: 576px) {
  .cow_block {
    width: calc(100% - 30px);
    right: calc(50% + 15px);
    transform: translateX(calc(50% + 15px));
    max-height: 100%;
    opacity: 0.3;
  }
}
